
<div class="blacklist-check-wrapper">
    <h3>Добавление нового клиента    (addView)</h3><br/><br/>
    <div>
        <form action="index.php" method="post" enctype="text/html">

            <input type="hidden" name="command" value="add">

            <label>фамилия <span>*</span> </label>
            <input type="text" name="lastname" value='{{ lastname }}'> <br/><br/>

            <label>имя <span>*</span></label>
            <input type="text" name="firstname" value='{{ firstname }}'> <br/><br/>

            <label>отчество <span>*</span></label>
            <input type="text" name="midname" value='{{ midname }}'> <br/><br/>

            <label>дата рождения <span>*</span></label>
            <input type="date" name="birthday" value='{{ birthday }}'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label>вид страхования <span>*</span></label>
            <select name="vid_id"  >
                <option value="0">выберите ...</option>
                {% for vid in vids %}
                    <option  value="{{ vid.id }}">{{ vid.name }}</option>
                {% endfor %}
            </select>
            <br/><br/>
            <label>комментарий <span>*</span></label>
            <p><textarea rows="10" cols="45" name="comment_info" style="width:100%"></textarea></p>
            <h4><input type="submit" value="Добавить" class="blacklist-submit-button"></h4>

            <br/><br/>
        </form>


    </div>

    <div>
        <h3>Последний введенный клиент</h3>
        <table class="blacklist-table">
            <tr>
                <th>ID</th>
                <th>фамилия  </th>
                <th>имя  </th>
                <th>отчество  </th>
                <th>дата рождения  </th>
                <th>ФИО менеджера  </th>
                <th>email менеджера  </th>
                <th>вид страхования  </th>
                <th>комментарий  </th>
            </tr>

            <tr>
                <td>{{ addedResults.0.client_id }}</td>
                <td>{{ addedResults.0.lastname }}</td>
                <td>{{ addedResults.0.firstname }}</td>
                <td>{{ addedResults.0.midname }}</td>
                <td>{{ addedResults.0.birthday }}</td>
                <td>{{ addedResults.0.manager }}</td>
                <td><a href="mailto:{{ addedResults.0.email }}">{{ addedResults.0.email }}</a></td>
                <td>{{ addedResults.0.insurance_name }}</td>
                <td>{{ addedResults.0.comment |raw}}</td>
            </tr>

        </table>
    </div>
</div>
