
<div class="blacklist-check-wrapper">
    <h3>Проверка клиента    (checkView)</h3><br/><br/>
    <div>
        <!--form action="index.php" method="post" enctype="text/html"-->
        <form action="/" method="post" enctype="text/html">

            <input type="hidden" name="command" value="check">
            <input type="hidden" name="apilogin" value="check">
            <input type="hidden" name="apipassword" value="check">
            <!--input type="hidden" name="api" value="1"-->

            <label class="input-label">фамилия <span>*</span> </label>
            <input type="text" name="lastname" value='{{ lastname }}'><br/><br/>

            <label class="input-label">имя <span>*</span></label>
            <input type="text" name="firstname" value='{{ firstname }}'><br/><br/>

            <label class="input-label">отчество <span>*</span></label>
            <input type="text" name="midname" value='{{ midname }}'><br/><br/>

            <label class="input-label">дата рождения</label>
            <input type="date" name="birthday" value='{{ birthday }}'><br/><br/>

            <label class="input-label">вид страхования</label>
            <select name="vid"  >
                <option value="0">выберите ...</option>
                {% for vid in vids %}
                    <option  value="{{ vid.id }}">{{ vid.name }}</option>
                {% endfor %}
            </select>
            <br/><br/>
            <label class="input-label">проверка api</label>
            <input type="checkbox" name="mode" checked="checked" value="api"><br/><br/>
            <h4><input type="submit" onclick='setURL(this)' value="Проверить" class="blacklist-submit-button"></h4>

            <br/><br/>
        </form>

    </div>

    <div>
        <table class="blacklist-table">
            <tr>
                <th>ID</th>
                <th>фамилия  </th>
                <th>имя  </th>
                <th>отчество  </th>
                <th>дата рождения  </th>
                <th>ФИО менеджера  </th>
                <th>email менеджера  </th>
                <th>комментарий  </th>
            </tr>
            {% for checkResult in checkResults %}
            <tr>
                <td>{{ checkResult.client_id }}</td>
                <td>{{ checkResult.lastname }}</td>
                <td>{{ checkResult.firstname }}</td>
                <td>{{ checkResult.midname }}</td>
                <td>{{ checkResult.birthday }}</td>
                <td>{{ checkResult.manager }}</td>
                <td><a href="mailto:{{ checkResult.email }}">{{ checkResult.email }}</a></td>
                <td>{{ checkResult.comment | raw }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
    function  setURL (element) {
        var mode = document.getElementsByName("mode")[0].checked;
        var url = mode ? 'api.php':'index.php';
        element.form.action=url;

    }
</script>